<div th:insert="base"></div>

<div class="container">
    <p>Income</p>
    <img src="data:image/png" id="logo" alt="" width="30" height="24" class="d-inline-block align-top">
    <p>Expence</p>
    <img src="data:image/png" id="logo" alt="" width="30" height="24" class="d-inline-block align-top">
    <div class="d-grid gap-2">
        <button type="submit" class="btn btn-primary btn-lg btn-block">Save Dashboard</button>
    </div>
    <div class="d-grid gap-2">
        <button type="submit" class="btn btn-primary btn-lg btn-block">Save to CSV</button>
    </div>
</div>

<div th:insert="base_2"></div>